<div class="main">
  <div class="header">
    <div class="search-container">
      <!--TODO: Estado activo e inactivo-->
      <input type="text" class="container-input" placeholder="Buscar contactos" />

      <img class="search" src="../../../../assets/icons/search.svg" alt="search" />
    </div>
  </div>
  <div class="contacts">
    <app-contact-card *ngFor="let contact of contacts" [contact]="contact"></app-contact-card>
  </div>
  <a routerLink="contact-details">detail</a>
  <router-outlet></router-outlet>

