<div class="main">
  <div class="header">
    <div class="search-container">
      <a class="arrow-back" [routerLink]="['/contacts-book']"><img src="../../../../assets/icons/arrow_back.svg" alt="arrow_back"></a>
    </div>
  </div>
  <div class="contacts">
    <app-contact-card *ngFor="let contact of contacts" [contact]="contact"></app-contact-card>
  </div>
 <div class="crete-container">
  <button  class="btn-create"  [routerLink]="['contact-create']"><img src="../../../../assets/icons/add.svg" alt="add"></button>
  </div>
</div>

