<div class="main">
  <!-- fixed content-->
  <div class="header">
    <div class="search-container">
      <!-- Text input -->
      <!--TODO: Estado activo e inactivo-->
      <input type="text" class="container-input" placeholder="Buscar contactos" />

      <!-- Search icon sticks to the left or right -->
      <img
        class="search"
        src="../../../../assets/icons/search.svg"
        alt="search"
      />
    </div>
  </div>
  <!-- fixed content-->
  <div class="contacts">
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
  </div>
</div>
