.card {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  width: 300px;
  height: 190px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card-title {
  font-weight: 400;
  color: #000000;
}

.card-1 {
  background-color: white;
}

.input-name{
  all:unset;
}

.input-name:disabled{
  border: none;
}

.rename {
  display: flex;
  flex-direction: row;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  all: unset;
  z-index: 100;
}

.btn-save {
  filter: invert(65%) sepia(68%) saturate(439%) hue-rotate(56deg) brightness(93%) contrast(90%);
}

.btn-cancel {
  filter: invert(51%) sepia(13%) saturate(2938%) hue-rotate(313deg) brightness(100%) contrast(127%);
}

.option-icon {
  width: 24px;
  margin: 1px;
}

.edit {
  margin-top: auto;
  margin-left: auto;
}

.btn-edit {
  width: 105px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-share {
  all: unset;
  width: 24px;
}

