.main {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edit-box {
    max-width: 420px;
    min-width: 320px;
    width: 50%;
    color: #3A00E5;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 40px;
  }

  .edit-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
  }

  .edit-box label{
    margin: 0;
    padding: 5px 2px;
    display: block;
    font-size: 13px;
    
  }
  
  
  .edit-box input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #AFB1B6;
    border-radius: 8px;
    outline: none;
    height: 40px;
    font-size: 16px;
    background-color: #FFFFFF;
  }

  .btn-edit {
    border: none;
    outline: none;
    background-color: black;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px 16px;
    width: 40%;
    margin: 20px 0;
    cursor: pointer;
    touch-action: manipulation;

    &:hover {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
      0px 2px 2px 0px rgba(0,0,0,0.14),
      0px 1px 5px 0px rgba(0,0,0,0.12);
    }
  
    &:active {
      box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2),
      0px 8px 10px 1px rgba(0,0,0,0.14),
      0px 3px 14px 2px rgba(0,0,0,0.12);
    }
  }

  .btn-cancel {
    color: #202124;
    background-color: white;
    border: 0.5px solid #d6d6d6;
    width: 40%;
    display: inline-block;
    padding: 8px 16px;
    margin: 1em;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
  
    &:hover {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
      0px 2px 2px 0px rgba(0,0,0,0.14),
      0px 1px 5px 0px rgba(0,0,0,0.12);
    }
  
    &:active {
      box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2),
      0px 8px 10px 1px rgba(0,0,0,0.14),
      0px 3px 14px 2px rgba(0,0,0,0.12);
    }
  }

  .btn-container{
    display:flex;
    justify-content: center;
    align-items: center;
  }