<form action="action_page.php">
    <div class="container">
      <h1>Register</h1>
      <p>Complete este formulario para poder crear su cuenta.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Ingrese su email" name="email" id="email" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Ingrese su contraseña" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repita</b></label>
      <input type="password" placeholder="Repita su contraseña" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>Creando esta cuenta acepta nuestros <a href="#">Terminos & Condiciones</a>.</p>
      <button type="submit" class="registerbtn">Registrarse</button>
    </div>
  
    <div class="container signin">
      <p>¿Ya tienes una cuenta? <a href="#">Inicie sesión</a>.</p>
    </div>
  </form>