<div class="main">

    
  <div class="register-box">
      <h1>Register here</h1>

   <form #registerFrom="ngForm" (submit)="onSubmit()">
    <label class="email" for="email"><b>Email</b></label>
    <input type="text" placeholder="Ingrese su email" name="email" id="email" required [(ngModel)]="user.email"
          #email="ngModel">
    <label for="Name"><b>Name</b></label>
    <input type="text" placeholder="Ingrese su nombre" name="firstName" id="name"  required required [(ngModel)]="user.firstName" #name="ngModel">

    <label for="apellido"><b>Last name</b></label>
    <input type="text" placeholder="Ingrese su apellido" name="lastname" id="lastname" required required [(ngModel)]="user.lastName">

    <label for="password"><b>Password (8 characters minimum):</b></label>
    <input type="password" placeholder="Ingrese su contraseña" name="password" id="psw" required [(ngModel)]="user.password" [required]="true" [minlength]="8" #password="ngModel">
    <div *ngIf="password.touched && password.errors">La contraseña requiere al menos 8 carácteres</div>
    <div  [ngClass]="{'success' : !error, 'fail': error}">
    </div>
    



    <button class="btn-register" type="submit" value="register">Register</button>

     

   <div class="p">
      <a href=''>Ya tiene una cuenta? Inicie sesion</a> 
      <div>
  </div>



</div>