<div class="main">

    
    <div class="rst-box">
        <h1>Reset password</h1>
  
     <form>
      <label for="password"><b></b></label>
      <input type="password" placeholder="Ingrese su contraseña" name="psww" id="psww" required>
  
      <label for="password"><b></b></label>
      <input type="password" placeholder="Repita su contraseña" name="psw" id="psw" required>
  
  
      </form>
<section class="flex-container">
    <div class="bott">
    <button class="btn-rst"type="submit" value="reset">Finalizar</button>
    </div>
        

  <div class="bott">
    <button class="btn-back" onclick="history.back()"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbVaQsEiwC_f6ZIjbM6g_ckFYH83TJptxLrQ&usqp=CAU" height="40" width="50"/></button>
  </div>
</section>

    <div class="p">
        <a href=''>Ya tiene una cuenta? Inicie sesion</a> 
      <div>
    </div>
  
  
  
  </div>
