.main {
  font-family: "Open Sans";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  max-width: 420px;
  min-width: 320px;
  width: 50%;
  color: #3A00E5;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 40px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.login-box label {
  margin: 0;
  padding: 5px 2px;
  display: block;
  font-size: 13px;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #AFB1B6;
  border-radius: 8px;
  outline: none;
  height: 40px;
  font-size: 16px;
  background-color: #FFFFFF;
}

.btn-login {
  border: none;
  outline: none;
  height: 40px;
  background: black;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
  touch-action: manipulation;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #3A00E5;
}

.p {
  color: #000;
  display: flex;
  flex-direction: column;
}

.fail {
  color: #e50000;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.success {
  visibility: hidden;
}

