<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="nav">
  <a href="/contacts" class="nav__link">
    <i class="material-icons nav__icon">contacts</i>
    <span class="nav__text">Contacts</span>
  </a>

  <a href="#" class="nav__link">
    <i class="material-icons nav__icon">notebook</i>
    <span class="nav__text">Agenda</span>
  </a>

  <a href="#" class="nav__link">
    <i class="material-icons nav__icon">settings</i>
    <span class="nav__text">Settings</span>
  </a>
</nav>
  
 