<!-- <p>contact-details works!</p> -->

<div class="main">

    <div class="icons">  

        <img src="../../../../assets/icons/arrow_back.svg" alt="arrow_back">
        <img src="../../../../assets/icons/delete.svg" alt="delete">
        <img src="../../../../assets/icons/edit.svg" alt="edit">
        <img src="../../../../assets/icons/favorite.svg" alt="favorite">

    </div>

    <div class="avatar-conteiner">
        
      <div class="avatar">
        <!-- {{getinitials() | uppercase}} -->
      </div>

      <div class="texto2">  <h1>NOMBRE APELLIDO</h1> </div>  


    </div>        
         
        

    <div class="card-divider2"></div>   

    
    <div class="card">
        <div class="texto">
        <h1>informacion de contacto</h1>
        </div> 
        <div class="card-divider"></div>
        <div class="icons2">
           <img src="../../../../assets/icons/telephone.svg" alt="telephone"> 
           <img src="../../../../assets/icons/phone.svg" alt="phone">
           <img src="../../../../assets/icons/description.svg" alt="description">



        </div>

    </div> 
     
   <!-- <app-contact-card></app-contact-card>  -->
  
  <!-- *ngFor="let contact of contacts" [contact]="contact" -->
        
    
</div>



