<div class="main">
  <div class="icons">
    <a routerLink="/contacts"><img src="../../../../assets/icons/arrow_back.svg" alt="arrow_back"></a>
    <button class="btn-icon" (click)="dialog.abrir()">
      <img src="../../../../assets/icons/delete.svg" alt="delete">
    </button>
    <img src="../../../../assets/icons/edit.svg" alt="edit">
    <img src="../../../../assets/icons/favorite.svg" alt="favorite">
  </div>
  <div class="avatar-container">
    <div class="avatar">
      {{getinitials() | uppercase}}
    </div>
    <div class="texto2"><h1>{{contact.name}}</h1></div>
  </div>
  <div class="card-divider2"></div>
  <div class="card">
    <div class="texto">
      <h2>informacion de contacto</h2>
    </div>
    <div class="card-divider"></div>
    <div class="icons2">
      <div class="details">
        <div class="icon">
          <img src="../../../../assets/icons/telephone.svg" alt="telephone">
        </div>
        <div>
          {{contact.cellPhoneNumber}}
        </div>
      </div>
      <div class="details">
        <div class="icon">
          <img src="../../../../assets/icons/phone.svg" alt="phone">
        </div>
        <div>
          {{contact.telephoneNumber}}
        </div>

      </div>
      <div class="details">
        <div class="icon">
          <img src="../../../../assets/icons/description.svg" alt="description">
        </div>
        <div>{{contact.description}}</div>
      </div>
    </div>
  </div>
</div>

