<div class="main-container">
  <div class="heading">
    <h1 class="h1">Agendas compartidas</h1>
  </div>
  <div class="cards">
    <div class="card card-1">
      <div class="cardicon"></div>
      <p class="cardexit"></p>
      <h2 class="cardtitle"></h2>
      <p class="cardapply">
        <a class="cardlink" href="#"></a>
      </p>
    </div>
    <div class="card card-2">
      <div class="cardicon"></div>
      <p class="cardexit"></p>
      <h2 class="cardtitle"></h2>
      <p class="cardapply">
        <a class="cardlink" href="#"></a>
      </p>
    </div>
    <div class="card card-3">
      <div class="cardicon"></div>
      <p class="cardexit"></p>
      <h2 class="cardtitle"></h2>
      <p class="cardapply">
        <a class="card__link" href="#"></a>
      </p>
    </div>